<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!--        Consoles configuration-->

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!--        Files configuration-->

        <File name="LoginFilterFile"
              filename="${sys:LOG_PATH}/login_filter.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="PasswordFilterFile"
              filename="${sys:LOG_PATH}/password_filter.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="UsernameFilterFile"
              filename="${sys:LOG_PATH}/username_filter.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="FirstNameFilterFile"
              filename="${sys:LOG_PATH}/first_name_filter.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="LastNameFilterFile"
              filename="${sys:LOG_PATH}/last_name_filter.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="BirthdateFilterFile"
              filename="${sys:LOG_PATH}/birthdate_filter.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="EmailFilterFile"
              filename="${sys:LOG_PATH}/email_filter.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="PhoneFilterFile"
              filename="${sys:LOG_PATH}/phone_filter.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="RegisterUserServletFile"
              filename="${sys:LOG_PATH}/register_user_servlet.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="LoginServletFile"
              filename="${sys:LOG_PATH}/login_servlet.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="UserRepositoryFile"
              filename="${sys:LOG_PATH}/user_repository.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

    </Appenders>

    <Loggers>

        <!--        File loggers-->

        <Logger name="com.askie01.filters.users.LoginFilter" level="info" additivity="false">
            <AppenderRef ref="LoginFilterFile"/>
        </Logger>

        <Logger name="com.askie01.filters.users.PasswordFilter" level="info" additivity="false">
            <AppenderRef ref="PasswordFilterFile"/>
        </Logger>

        <Logger name="com.askie01.filters.users.UsernameFilter" level="info" additivity="false">
            <AppenderRef ref="UsernameFilterFile"/>
        </Logger>

        <Logger name="com.askie01.filters.users.FirstNameFilter" level="info" additivity="false">
            <AppenderRef ref="FirstNameFilterFile"/>
        </Logger>

        <Logger name="com.askie01.filters.users.LastNameFilter" level="info" additivity="false">
            <AppenderRef ref="LastNameFilterFile"/>
        </Logger>

        <Logger name="com.askie01.filters.users.BirthdateFilter" level="info" additivity="false">
            <AppenderRef ref="BirthdateFileFilter"/>
        </Logger>

        <Logger name="com.askie01.filters.users.EmailFilter" level="info" additivity="false">
            <AppenderRef ref="EmailFilterFile"/>
        </Logger>

        <Logger name="com.askie01.filters.users.PhoneFilter" level="info" additivity="false">
            <AppenderRef ref="PhoneFilterFile"/>
        </Logger>

        <Logger name="com.askie01.services.registration.RegisterUserServlet" level="info" additivity="false">
            <AppenderRef ref="RegisterUserServletFile"/>
        </Logger>

        <Logger name="com.askie01.services.login.LoginServlet" level="info" additivity="false">
            <AppenderRef ref="LoginServletFile"/>
        </Logger>

        <Logger name="com.askie01.repositories.UserRepository" level="info" additivity="false">
            <AppenderRef ref="UserRepositoryFile"/>
        </Logger>

        <!--        Root logger-->

        <Root level="trace">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
